*.zip
*.log
ZIP/
*.properties


/GCD/nbproject/private/
/GCD/build/
/IntegerDivision/nbproject/private/
/IntegerDivision/build/
/Project2-2/COP3337-SUM2020-Project2-ClassCopy/nbproject/private/
/Project2-2/COP3337-SUM2020-Project2-ClassCopy/build/
