*.zip
*.log
ZIP/
*.properties


/GCD/nbproject/private/
/GCD/build/
/IntegerDivision/nbproject/private/
/IntegerDivision/build/
/Project2-2/COP3337-SUM2020-Project2-ClassCopy/nbproject/private/
/Project2-2/COP3337-SUM2020-Project2-ClassCopy/build/
/ShellSort/nbproject/private/
/BinarySearchTrees/nbproject/private/
/BinarySearchTrees/build/
/BinaryExpressionTree/nbproject/private/
/StudyExpTree/nbproject/private/
/StudyExpTree/build/
/BinaryExpressionTree/build/
/ExpressionTree/nbproject/private/
/ExpressionTree/build/
/ExpressionTree/dist/
/Exam1Review/nbproject/private/
/Exam1Review/build/
